
/* 이게 삭제되어야 하는거 아닌가 ? */
/* .main_page_frame {
    background-color: blue;
    width: 100%;
    height: 100%;
} */

body {
    position: relative;
}


.page_header_frame {
    box-sizing: border-box;
    width: 100%;
    height: 50px;

    background-color: gray;
    
    display: flex;
    align-items: center;
}

.wrap_topbar_contents {
    display: flex;
    align-items: center;
    justify-content: space-between;


    box-sizing: border-box;
    width: 100%;
    height: 45px;

    background-color: lightcyan;
    
}

.container_topbar_title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    width: 280px;
    height: 24px;

    background-color: yellow;
}


.topbar_title {
    display: flex;
    align-items: center;
    justify-content: space-between;

    box-sizing: border-box;
    background-color: lightsalmon;

    width: 278px;
    height: 20px;
    font-size: 16px;

}

.wrap_tobar_search_duplicate {
    background-color: red;
    width: 120px;

    display: flex;
    justify-content: center;

}




.container_topbar_search_button {
    background-color: blue;
    box-sizing: border-box;
    width: 70px;
    height: 45px;

    display: flex;
    align-items: center;
    justify-content: center;

}

.container_topbar_duplicate_button {
    background-color: yellow;
    box-sizing: border-box;
    width: 46px;
    height: 45px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.topbar_search_button {
    box-sizing: border-box;
    background-color: lightseagreen;

    width: 64px;
    height: 28px;
    font-size: 16px;

    display: flex;
    align-items: center;
    justify-content: center;

}

.topbar_duplicate_button {
    background-color: rgb(105, 29, 228);

    width: 44px;
    height: 28px;
    
    font-size: 16px;

    /* ✅✅ flex 활용해서 가운데로 모으기 ⭐⭐⭐  */
    display: flex;
    align-items: center;
    justify-content: center;

    /* ✅✅ 박스 사이징 */
    box-sizing: border-box;
}



/* 가운데 페이지  */
.main_page_whole_frame {
    /* background-color: rgb(47, 0, 255, 0.5); */
    border: 3px solid black;
    width: 100%;
    height: 7000px;

    position : absolute;
    top: 0px;

    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.main_page_title_frame {
    box-sizing: border-box;
    /* background-color: rgb(8, 109, 8, 0.2); */

    width: 100%;
    height: 312px;

    display: flex;
    justify-content: center;
    
}

.inner_main_page_title_frame {
    box-sizing: border-box;
    background-color: red;

    width: 716px;
    height: 100%;

    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;

}



.center_main_icon_container {
    display: flex;
    align-items: flex-end;

    box-sizing: border-box;
    /* background-color: lightblue; */

    width: 708px;
    height: 162px;
}

.center_main_icon_image{
    display: flex;

    font-size: 78px;
}




.center_main_empty_area {
    box-sizing: border-box;
    background-color: blue;

    width: 708px;
    height: 10px;

}


.center_main_title_container {
    box-sizing: border-box;
    background-color: lightgreen;

    width: 708px;
    height: 126px;

    /* ✅✅ flex 활용해서 가운데로 모으기 ⭐⭐⭐  */
    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 20px;
    padding : 5px;

}


.main_page_content_area {
    background-color: rgb(230, 230, 230, 0.2);

    width: 716px;
    height: 5000px;
   
    /* ✅✅ flex 활용해서 가운데로 모으기 ⭐⭐⭐  */
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
}



/* -- [start] ✅ 1st 아이템 / item01 -- */
.main_page_item01_container {
    background-color: aquamarine;
    
    /* container width 는 고정✅✅ */
    width: 708px;
    height: 124px;

    /* ✅✅ flex 활용해서 가운데로 모으기 ⭐⭐⭐  */
    display: flex;
    align-items: center;
    justify-content: center;

}

.main_page_item01_content {
    /* background-color: lightsalmon; */
    width: 708px;
    height: 124px;
    padding: 5px;

    /* ✅✅ flex 활용해서 가운데로 모으기 ⭐⭐⭐  */
    display: flex;
    align-items: center;
    justify-content: center;

    /* h2 자체가 치우쳐 있어서 이동 해야함. */
    position: relative;
}
/* -- [END] item 개별적으로 적용해야 하는 것 여기까지 -- */



/* -- [start] -- ⭐⭐⭐ heading 2~3 공통 css 로 class 이름 공통으로 주기 */
.main_page_content_h2 {
    
    /* ✅ head2, h2 공통 css */
    position: absolute;
    left: 9px;
}


.main_page_content_h3 {
    
    /* ✅ head2, h2 공통 css */
    position: absolute;
    left: 9px;
    top: 8px;
    /* top: 12px; */
    
    /* background-color: yellow; */
    /* height: 40px; */
}


.main_page_content_h2_background {
    /* ✅ head2, h2 공통 css */
    background-color: antiquewhite;
    width: 700px;
    height: 100px;
    
}


.main_page_content_h3_background {
    /* ✅ head2, h2 공통 css */
    background-color: rgba(45, 184, 219, 0.1);
    width: 700px;
    height: 30px;
    
}


.main_page_content_h3_background_none {
    
}



/* -- [END] 공통으로, heading 2 관련된 것 end -- */



/* -- [start] ✅ 개별 아이템 / item02 -- */
.main_page_item02_container {
    /* background-color: aquamarine; */
    
    /* container width 는 고정✅✅ */
    width: 708px;
    /* height: 66px; */

    /* ✅✅ flex 활용해서 가운데로 모으기 ⭐⭐⭐  */
    display: flex;
    align-items: center;
    justify-content: center;

}

.main_page_item02_content {
    /* background-color: red; */
    width: 708px;
    height: 50px;
    padding: 5px;

    /* ✅✅ flex 활용해서 가운데로 모으기 ⭐⭐⭐  */
    display: flex;
    align-items: flex-end;

    /* h2 자체가 치우쳐 있어서 이동 해야함. */
    position: relative;
}
/* -- [END] item 개별적으로 적용해야 하는 것 여기까지 -- */


/* START 개별 아이템 item03 , 구분선 ⭐⭐⭐  */

.main_page_division_line {
    width: 700px;
    height: 1px;
    border-top: solid 1px #bbb ;
    /* border-top: solid 100px red ; */
    /* background-color: blue; */
}



/* -- [start] ✅ 개별 아이템 / item04 -- */
.main_page_item04_container {
    /* background-color: aquamarine; */
    
    /* container width 는 고정✅✅ */
    width: 708px;
    /* height: 66px; */

    /* ✅✅ flex 활용해서 가운데로 모으기 ⭐⭐⭐  */
    display: flex;
    align-items: center;
    justify-content: center;

}

.main_page_item04_content {
    /* background-color: red; */
    width: 708px;
    height: 50px;
    padding: 5px;

    /* ✅✅ flex 활용해서 가운데로 모으기 ⭐⭐⭐  */
    display: flex;
    align-items: flex-end;

    /* h2 자체가 치우쳐 있어서 이동 해야함. */
    position: relative;
}
/* -- [END] item 개별적으로 적용해야 하는 것 여기까지 -- */



/* -- [start] ✅ 개별 아이템 / item05 -- */
.main_page_item05_container {
    /* background-color: aquamarine; */
    
    /* container width 는 고정✅✅ */
    width: 708px;
    /* height: 66px; */

    /* ✅✅ flex 활용해서 가운데로 모으기 ⭐⭐⭐  */
    display: flex;
    align-items: center;
    justify-content: center;

}

.main_page_item05_content {
    /* background-color: red; */
    width: 708px;
    height: 350px;
    padding: 5px;

    /* ✅✅ flex 활용해서 가운데로 모으기 ⭐⭐⭐  */
    display: flex;
    align-items: flex-start;
    flex-direction: column;

    /* h2 자체가 치우쳐 있어서 이동 해야함. */
    position: relative;
}
/* -- [END] item 개별적으로 적용해야 하는 것 여기까지 -- */




/* ✅ 이미지를 딱 맞게 넣기 / image_input */
.main_page_content_image_frame {
    width: 700px;
    height: 352px;
    /* border: 1px solid black; */
    
}

/* ✅ 이미지 딱 맞게 하려면, 우선, 이미지 size 먼저! 체크 ⭐⭐⭐  */
.image_item01 {

    /* 여기⭐⭐ */
    object-fit: cover;
    width: 100%;
    height: 100%;
}


/* 밑에 설명, 각주, describe, 회색 글 */
.main_page_content_describe {
    color: gray;
    font-size: 12px;
}




/* -- [start] ✅ 개별 아이템 / item06 -- */
.main_page_item06_container {
    /* background-color: aquamarine; */
    
    /* container width 는 고정✅✅ */
    width: 708px;
    /* height: 66px; */

    /* ✅✅ flex 활용해서 가운데로 모으기 ⭐⭐⭐  */
    display: flex;
    align-items: center;
    justify-content: center;

}

.main_page_item06_content {
    /* background-color: red; */
    width: 708px;
    height: 50px;
    padding: 5px;

    /* ✅✅ flex 활용해서 가운데로 모으기 ⭐⭐⭐  */
    display: flex;
    align-items: flex-end;

    /* h2 자체가 치우쳐 있어서 이동 해야함. */
    position: relative;

    /* 윗 부분 마진 */
    margin-top: 20px;

}
/* -- [END] item 개별적으로 적용해야 하는 것 여기까지 -- */



/* ✅ 이미지를 딱 맞게 넣기 / image_input */
.main_page_content_image_frame_02 {
    width: 700px;
    height: 430px;
    /* border: 1px solid black; */
    
}

.image_item02 {
    /* 여기⭐⭐ */
    object-fit: cover;
    width: 100%;
    height: 100%;

}




/* -- [start] ✅ 개별 아이템 / item06 -- */
.main_page_item08_container {
    /* background-color: aquamarine; */
    
    /* container width 는 고정✅✅ */
    width: 708px;
    /* height: 66px; */

    /* ✅✅ flex 활용해서 가운데로 모으기 ⭐⭐⭐  */
    display: flex;
    align-items: center;
    justify-content: center;

}

.main_page_item08_content {
    /* background-color: red; */
    width: 708px;
    height: 50px;
    padding: 5px;

    /* ✅✅ flex 활용해서 가운데로 모으기 ⭐⭐⭐  */
    display: flex;
    align-items: flex-end;

    /* h2 자체가 치우쳐 있어서 이동 해야함. */
    position: relative;

    /* 윗 부분 마진 */
    margin-top: 20px;

}


/* ✅ 이미지를 딱 맞게 넣기 / image_input */
.main_page_content_image_frame_03 {
    width: 700px;
    height: 464px;
    /* border: 1px solid black; */
    
}




/* -- [start] ✅ 개별 아이템 / item06 
                ⭐ 이거를 이제, 글자만 바꾸자 ⭐⭐⭐⭐⭐ -- */
.main_page_item12_container {
    /* background-color: aquamarine; */
    
    /* container width 는 고정✅✅ */
    width: 708px;
    /* height: 66px; */

    /* ✅✅ flex 활용해서 가운데로 모으기 ⭐⭐⭐  */
    display: flex;
    align-items: center;
    justify-content: center;

}

.main_page_item12_content {
    /* background-color: red; */
    width: 708px;
    height: 50px;
    padding: 5px;

    /* ✅✅ flex 활용해서 가운데로 모으기 ⭐⭐⭐  */
    display: flex;
    align-items: flex-end;

    /* h2 자체가 치우쳐 있어서 이동 해야함. */
    position: relative;

    /* 윗 부분 마진 */
    margin-top: 20px;

}



/* ✅ 이미지를 딱 맞게 넣기 / image_input */
.main_page_content_image_frame_04 {
    width: 512px;
    height: 552px;
    /* border: 1px solid black; */
    
}



/* -- [start] ✅ 개별 아이템 / item06 
                ⭐ 이거를 이제, 글자만 바꾸자 ⭐⭐⭐⭐⭐ -- */
.main_page_item14_container {
    /* background-color: aquamarine; */
    
    /* container width 는 고정✅✅ */
    width: 708px;
    /* height: 66px; */

    /* ✅✅ flex 활용해서 가운데로 모으기 ⭐⭐⭐  */
    display: flex;
    align-items: center;
    justify-content: center;

}

.main_page_item14_content {
    /* background-color: red; */
    width: 708px;
    height: 50px;
    padding: 5px;

    /* ✅✅ flex 활용해서 가운데로 모으기 ⭐⭐⭐  */
    display: flex;
    align-items: flex-end;

    /* h2 자체가 치우쳐 있어서 이동 해야함. */
    position: relative;

    /* 윗 부분 마진 */
    margin-top: 20px;

}



/* ✅ 이미지를 딱 맞게 넣기 / image_input */
.main_page_content_image_frame_05 {
    width: 600px;
    height: 336px;
    /* border: 1px solid black; */
    
}


/* 토글 세트 작성 */

.toggle_item_frame {
    display: flex;
    /* background-color: lightgreen; */
    width: 700px;
}

.dot_area {
    /* ✅✅ flex 활용해서 가운데로 모으기 ⭐⭐⭐  */
    display: flex;
    align-items: center;
    justify-content: center;
    
    width: 30px;
    height: 30px;
}

.text_area_next_dot {
    width: 700px;
    height: 30px;
    /* background-color: blue; */

    /* ✅✅ flex 활용해서 가운데로 모으기 ⭐⭐⭐  */
    display: flex;
    align-items: center;
    justify-content: flex-start;    

    font-size: 85%;

}


.toggle_item_frame_2line {
    margin-top: 10px;
    display: flex;
    /* background-color: lightgreen; */
    width: 700px;
}


.main_page_item_callout_frame {
    /* ✅✅ flex 활용해서 가운데로 모으기 ⭐⭐⭐  */
    display: flex;
    align-items: center;
    justify-content: center;    

    width: 708px;
    height: 86px;
    /* background-color: green; */
}


.main_page_item_callout_box {
    width: 700px;
    height: 82px;
    background-color: rgb(238, 238, 199, 0.3);

    /* ✅✅ flex 활용해서 가운데로 모으기 ⭐⭐⭐  */
    display: flex;
    align-items: center;
    justify-content: center;  


    /* border: 3px solid black; */
    /* border-radius: 20px; */

}


.wrap_light_and_text {
    width: 660px;
    height: 48px;
    /* padding: -5px; */
    /* background-color: lightblue; */

    display: flex;
    align-items: center;
}



.light_bulb_wrap {
    width: 35px;
    height: 48px;
    /* background-color: red; */

    position: relative;
    

    display: flex;
    justify-content: center;
}


.light_bulb_image {
    width: 20px;
    height: 20px;

    position: absolute;
    top: 5px;
}

.callout_text_part_wrap {
    /* background-color: red; */

}

.callout_text_part {
    font-size: 85%;

    /* background-color: blue; */
    margin: 5px;
}



.bookmark_block_area {
    width: 708px;
    height: 112px;
    /* background-color: green; */
    
}


.bookmark_block_a_tag {
    width: 100%;
    height: 100%;
    margin: 100px;

    background-color: blue;
    border: solid 1px red ;

}






/* ✅ 공통 부분 

[container] 


[content] 
- content 는 padding 5px 주기 ('문과생들이여, 메타버스 기획자로 미래의 문을 두드려라!' 여기부터시작
- 글씨 자체가 왼쪽으로 치우져 있어서 position relative 이동 해야 함. 

[글씨 / h2 / heading 2 , h2 공통 css 로 class 이름 공통으로 주기] 
- 살짝 옆으로 이동해야 해서 position absolute 

[h2 background] 
- 포인트 : 살짝, 가운데 정렬로 주기 위해서, 이 위치를 이동시킴. 


[빨강 하이라이트]
<span style = "line-height:normal; background:rgba(135,131,120,0.15); color:#EB5757 ;border-radius:3px; font-size:85%; padding:0.2em 0.4em" > 
취업률 77% </span>


[연보라 하이라이트]
<span style="background:rgba(244, 240, 247, 0.8);font-weight:600">
게임기획자 </span> 


*/
