* {
  box-sizing: border-box;
}

body {
  margin: 0;
}
.sec {
  display: flex;
  flex-direction: column;
}
.navbar {
  width: 100%;
  height: 45px;
  position: fixed;
  background-color: white;
  z-index: 1;
}

.navbar .navtxt {
  width: 250px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* 메인 이미지 start */
.mainimg {
  width: 100%;
  height: 290px;
  border: 1px solid;
}

.mainimg .mimg {
  width: 100%;
  height: 100%;
  background-image: url("https://oopy.lazyrockets.com/api/v2/notion/image?src=https%3A%2F%2Fs3-us-west-2.amazonaws.com%2Fsecure.notion-static.com%2Fcf240f1f-f05c-456f-947a-4d4cbe70bd91%2F%25EC%25BB%25A4%25EB%25B2%2584_(1).jpg&blockId=694dcd71-9995-4f26-b1cd-5604d2c3af6a&width=3600");
  background-size: cover;
}
/* 메인 이미지 end */

/* 메인프레임 start */
.mainframe {
  position: relative;
  width: 900px;
  max-width: 900px;
  height: auto;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mainframe .title {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.mainframe .title h1 {
  margin: 0;
  height: 55px;
  max-width: 100%;
  font-size: 45px;
  font-weight: 700;
  padding: 3px 2px;
  line-height: 1.5;
}
/* 메인프레임 end */

/* 후기 이미지 start */
.mainframe .reviewimg {
  position: relative;
  width: 100%;
  height: 100%;
}

.mainframe .reviewimg .rimg {
  position: relative;
  background-size: contain;
  padding: 0 90px;
}

.mainframe .reviewimg .rimg img {
  width: 100%;
  height: 100%;
  background-size: contain;
}
/* 후기 이미지 end */

/* 얇은 가로선 start */
.mainframe .crossline {
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.04);
  margin-top: 10px;
}
/* 얇은 가로선 end */

/* 중간 박스 start */
.mainframe .cutbox {
  width: 100%;
}
.mainframe .cutbox54 {
  height: 54px;
}
.mainframe .cutbox30 {
  height: 30px;
}
/* 중간 박스 end */

/* 노트북 이미지 start */
.mainframe .noteboximg {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 0 90px;
}

.mainframe .noteboximg .nbimg {
  position: relative;
  background-size: contain;
  padding: 0 90px;
}

.mainframe .noteboximg .nbimg img {
  width: 100%;
  height: 100%;
  background-size: contain;
}
/* 노트북 이미지 end */

/* 경일아카데미 게임 기혹자 과정 start */
/* 게임 기획자의 꿈, 5개월만에 이뤄드립니다. start */

.mainframe .txtbox {
  width: 100%;
  height: auto;
  padding: 0 90px;
}

.mainframe .txtbox .txt_title {
}
.mainframe .txtbox .txt_title h3 {
  font-size: 24px;
  line-height: 2;
  height: 30px;
}

.mainframe .txtbox .txt_body {
  display: flex;
}

.mainframe .txtbox .txt_body .line {
  height: 120px;
  border: 1.5px solid rgba(0, 0, 0, 0.5);
}
.mainframe .txtbox .txt_body .txt_word {
  width: 100%;
  height: 120px;
  padding: 10px 14px 0 14px;
}

.mainframe .txtbox .txt_body .txt_word p {
  margin: 0;
  font-size: 18px;
  font-weight: 400;
}
.mainframe .txtbox .txt_body .txt_word span {
  font-size: 18px;
  font-weight: 600;
  display: inline;
  background-color: #fbf3d8;
}

.mainframe .txtbox .txt_body .txt_word p:last-child {
  display: inline;
}

.mainframe .txtbox .txtbottom {
  width: 100%;
  height: auto;
  margin-top: 10px;
  display: flex;
}

.mainframe .txtbox .txtbottom .txtbtm_lt {
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mainframe .txtbox .txtbottom .txtbtm_lt .arrow {
  cursor: pointer;
  width: 24px;
  height: 28px;
  border-radius: 5px;
  background-image: url("https://cdn-icons-png.flaticon.com/512/254/254434.png");
  background-size: 12px;
  background-repeat: no-repeat;
  background-position: center;
}
.mainframe .txtbox .txtbottom .txtbtm_lt .arrow:hover {
  background-color: rgba(0, 0, 0, 0.1);
  transition: 1s ease;
  width: 24px;
  height: 28px;
  border-radius: 5px;
}
.mainframe .txtbox .txtbottom .txtbtm_rt {
}
.mainframe .txtbox .txtbottom .txtbtm_rt .txtbtm_rt_up {
  width: 100%;
  height: 40px;
}
.mainframe .txtbox .txtbottom .txtbtm_rt .txtbtm_rt_up p {
  display: inline-block;
  font-size: 18px;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.4);
  line-height: 2;
  margin: 0;
  border-bottom: 1.5px solid;
  height: 26px;
}
.mainframe .txtbox .txtbottom .txtbtm_rt .txtbtm_rt_dn {
  width: 100%;
  height: 120px;
}
.mainframe .txtbox .txtbottom .txtbtm_rt .txtbtm_rt_dn p {
  margin: 0;
  font-size: 20px;
  font-weight: 400;
  display: inline;
}
.mainframe .txtbox .txtbottom .txtbtm_rt .txtbtm_rt_dn span {
  font-size: 20px;
  font-weight: 600;
  display: inline;
  background-color: #fbf3d8;
}
.mainframe .txtbox .txtbottom .txtbtm_rt .txtbtm_rt_dn p:last-child {
}
.mainframe .txtbox .txtbottom .txtbtm_rt .txtbtm_rt_dn {
}

/* 경일아카데미 게임 기혹자 과정 end */
/* 게임 기획자의 꿈, 5개월만에 이뤄드립니다. end */

/* 교육 과정 안내 start */
.mainframe .edubox {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  padding: 0 90px;
}
.mainframe .edutitle {
}

.mainframe .edutitle h3 {
  font-size: 24px;
  line-height: 2;
  height: 30px;
}

.mainframe .edubox .eduboxin1 {
  width: 100%;
  height: 130px;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding: 16px;
  margin-bottom: 10px;
}

.mainframe .edubox .eduboxin1 .eduboxframe {
  width: 100%;
  height: 100%;
  display: flex;
}
.mainframe .edubox .eduboxin1 .eduboxframe .edubox_lt {
  width: 30px;
  height: 100%;
}
.mainframe .edubox .eduboxin1 .eduboxframe .edubox_lt .edubox_lt_img {
  width: 24px;
  height: 28px;
  background: url("https://cdn.lazyrockets.com/_next/static/images/emoji-cd0caf391218ef7e695cd8315d235038.png");
  background-position-x: 79.66101694915254%;
  background-position-y: 88.13559322033898%;
  background-repeat: no-repeat;
  background-size: 6000% 6000%;
}

.mainframe .edubox .eduboxin1 .eduboxframe .edubox_lt .edubox_lt_img img {
}

.mainframe .edubox .eduboxin1 .eduboxframe .edubox_rt {
  width: 100%;
  height: 100%;
}
.mainframe .edubox .eduboxin1 .eduboxframe .edubox_rt span {
  color: #37352f;
  font-weight: 800;
  line-height: 2;
}
.mainframe .edubox .eduboxin1 .eduboxframe .edubox_rt p {
  margin: 0;
  font-weight: 400;
  line-height: 20px;
}
.mainframe .edubox .eduboxin1 .eduboxframe .edubox_rt p:nth-child(3) {
  font-weight: 200;
}
/* 교육 과정 안내 end */

/* 교육 기간 start */
.mainframe .edubox .eduboxin2 {
  width: 100%;
  height: 100px;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding: 16px;
  margin-bottom: 10px;
}

.mainframe .edubox .eduboxin2 .eduboxframe {
  width: 100%;
  height: 100%;
  display: flex;
}
.mainframe .edubox .eduboxin2 .eduboxframe .edubox_lt {
  width: 30px;
  height: 100%;
}
.mainframe .edubox .eduboxin2 .eduboxframe .edubox_lt .edubox_lt_img {
  width: 24px;
  height: 28px;
  background-image: url("https://cdn.lazyrockets.com/_next/static/images/emoji-cd0caf391218ef7e695cd8315d235038.png");
  background-position-x: 54.23728813559322%;
  background-position-y: 62.71186440677966%;
  background-repeat: no-repeat;
  background-size: 6000% 6000%;
}

.mainframe .edubox .eduboxin2 .eduboxframe .edubox_lt .edubox_lt_img img {
}

.mainframe .edubox .eduboxin2 .eduboxframe .edubox_rt {
  width: 100%;
  height: 100%;
}
.mainframe .edubox .eduboxin2 .eduboxframe .edubox_rt span {
  color: #37352f;
  font-weight: 800;
  line-height: 2;
}
.mainframe .edubox .eduboxin2 .eduboxframe .edubox_rt p {
  margin: 0;
  font-weight: 400;
  line-height: 20px;
}
/* 교육 기간 end */

/* 수강료 전액 국비 지원 start */
.mainframe .edubox .eduboxin3 {
  width: 100%;
  height: 80px;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding: 10px 16px;
  margin-bottom: 10px;
}

.mainframe .edubox .eduboxin3 .eduboxframe {
  width: 100%;
  height: 100%;
  display: flex;
}
.mainframe .edubox .eduboxin3 .eduboxframe .edubox_lt {
  width: 30px;
  height: 100%;
}
.mainframe .edubox .eduboxin3 .eduboxframe .edubox_lt .edubox_lt_img {
  width: 24px;
  height: 28px;
  background: url("https://cdn.lazyrockets.com/_next/static/images/emoji-cd0caf391218ef7e695cd8315d235038.png");
  background-position-x: 47.45762711864407%;
  background-position-y: 25.423728813559322%;
  background-repeat: no-repeat;
  background-size: 6000% 6000%;
}

.mainframe .edubox .eduboxin3 .eduboxframe .edubox_lt .edubox_lt_img img {
}

.mainframe .edubox .eduboxin3 .eduboxframe .edubox_rt {
  width: 100%;
  height: 100%;
}
.mainframe .edubox .eduboxin3 .eduboxframe .edubox_rt span {
  color: #37352f;
  font-weight: 800;
  line-height: 2;
  display: inline-block;
}
.mainframe .edubox .eduboxin3 .eduboxframe .edubox_rt span:first-child {
  display: block;
}
.mainframe .edubox .eduboxin3 .eduboxframe .edubox_rt span:nth-child(2) {
  color: red;
  text-decoration: line-through;
}
.mainframe .edubox .eduboxin3 .eduboxframe .edubox_rt span:last-child {
}
.mainframe .edubox .eduboxin3 .eduboxframe .edubox_rt p {
  margin: 0;
  font-weight: 400;
  line-height: 20px;
  display: inline-block;
}
/* 수강료 전액 국비 지원 end */

/* mainimg2 start */
.mainimg2 {
  width: 100vw;
  height: 320px;
  border: 1px solid;
}

.mainimg2 .mimg2 {
  width: 100%;
  height: 320px;
  background-image: url(https://oopy.lazyrockets.com/api/v2/notion/image?src=https%3A%2F%2Fimages.unsplash.com%2Fphoto-1529119368496-2dfda6ec2804%3Fixlib%3Drb-4.0.3%26q%3D80%26fm%3Djpg%26crop%3Dentropy%26cs%3Dtinysrgb&blockId=9fa7ef40-5a6c-4d33-9b18-cc8370aa5acb);
  background-size: cover;
  background-position-y: center;
}
/* mainimg2 end */

/* 경일의 교육 철학 start */

.mainframe .kgatitle {
  width: 100%;
  height: 100px;
  padding: 0 90px;
}
.mainframe .kgatitle .kgatitlebox {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-end;
}
.mainframe .kgatitle .kgatitlebox .kgattimg {
  width: 30px;
  height: 30px;
  display: inline-block;

  background-repeat: no-repeat;
  background-image: url("	https://cdn.lazyrockets.com/_next/static/images/emoji-cd0caf391218ef7e695cd8315d235038.png");
  background-position-x: 49.152542372881356%;
  background-position-y: 22.033898305084744%;
  -webkit-background-size: 6000% 6000%;
  background-size: 6000% 6000%;
}
.mainframe .kgatitle .kgatitlebox h1 {
  padding-left: 10px;
  line-height: 0.8;
  margin: 0;
}

/* 경일의 교육 철학 end */
